* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    color: #dcdcdc;
}

.navbar-text {
    text-align: center;
    padding: 10px;
    background: linear-gradient(90deg, rgba(86, 40, 117, 1) 17%, rgba(208, 47, 33, 1) 44%, rgba(115, 43, 186, 1) 71%);
    width: 100%;
}

/* Add padding to containers */
.container {
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    background-color: #3A4149;
}

.container-border {
    border: 3px solid #4B0082;
}

body {
    background-color: #48515B;
}

/* Full-width input fields */
input[type=text], input[type=number], input[type=date] {
    width: 100%;
    padding: 12px;
    margin: 5px 0 16px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: #48515B;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #800080;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 2;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.nav-text {
    width: 90%;
    margin: 0 auto;
}

#center-title {
    text-align: center;
}

.movie-container {
    display: inline;
    float: left;
    width: 30%;
    padding: 20px;
}

p, h3 {
    display: inline-block;
}

.p-color {
    color: #ff0033;
}

.padding-movies {
    margin-left: 5px;
}

.actions {
    text-align: right;
    width: 150px;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.edit-icon {
    color: #007BFF;
}

.delete-icon {
    color: #BD2130;
}

.delete-form {
    display: inline-block;
}

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

i.fa-times, i.fa-edit {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 0 3px #888;
    padding: 0.6em 0.6em;
    font-size: large;
}

.edit-container {
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    background-color: #3A4149;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}